@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: LCD;
  src: url('/LCD.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  /* 禁止用户选择文本,避免长按误选其它元素 */
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#app {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.font-lcd {
  font-family: 'LCD';
}

.img {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card-bg {
  width: 393px;
  height: 612px;
}

.content {
  width: 360px;
  height: 572px;
}

.arrow {
  width: 22px;
  height: 38px;
  position: absolute;
  left: 32px;
}
